# k8s-deployment.yml
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-ml-app-deployment
  labels:
    app: weather-ml-app
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: weather-ml-app
  template:
    metadata:
      labels:
        app: weather-ml-app
    spec:
      containers:
      - name: weather-ml-container
        image: <YOUR_DOCKERHUB_USERNAME>/weather-ml-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: weather-ml-app-service
spec:
  type: NodePort
  selector:
    app: weather-ml-app
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
