name: CI Workflow

on:
  push:
    branches:
      - master
      - main
      - bugfix
  pull_request:
    branches:
      - master
      - main

jobs:
  build-and-test:
    runs-on: [self-hosted, linux, x64]
    env:
      IMAGE_TAG: ${{ github.sha }}

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install Flask numpy pandas scikit-learn

      - name: Run Smoke Test
        run: PYTHONPATH=$GITHUB_WORKSPACE python tests/smoke_test.py
        continue-on-error: true

      - name: Run Unit Test
        run: PYTHONPATH=$GITHUB_WORKSPACE python tests/unit_test.py
        continue-on-error: true

      - name: Run Integration Test
        run: PYTHONPATH=$GITHUB_WORKSPACE python tests/integration_test.py
        continue-on-error: true
        
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t khadijah332/weather-ml-app:$IMAGE_TAG .
          docker tag khadijah332/weather-ml-app:$IMAGE_TAG khadijah332/weather-ml-app:latest

      - name: Test Docker Container Launch
        run: |
          docker run --rm khadijah332/weather-ml-app:$IMAGE_TAG python -c "print('Container launched successfully')"

