name: CI Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

 
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # Step 4: Run Smoke Test
      - name: Run Smoke Test
        run: python smoke_test.py

      - name: Run Unit Test
        run: python unit_test.py
      
      - name: Run Integration Test
        run: python integration_test.py

  
      - name: Build Docker Image
        run: docker build -t weather-ml-app:ci .

      - name: Test Docker Container
        run: |
          docker run --rm weather-ml-app:ci python -c "print('Container launched successfully')"
